<h2 id="nombre" class="container">Nombre de la persona</h2>
<!--<h2 class="container">Cambiar la fecha de la reserva #{{idReserva}}</h2>
<div class="valores">
    <h3>Escoja la fecha</h3>
    <input type="date" id="calendario1" class="caja" name="trip-start" value="2022-07-22" min={{fechaR}} max="2024-12-31">
</div>-->
<div >
  <h3 class="alo" >Fecha de entrada: {{fechaR}}</h3>
</div>
<div class="nFecha">
    <h3 class="fechaR">Nueva fecha de salida: </h3>
</div>


<div class="contenedorIz">
    <div class="valores">
        <h4>Fecha entrada:</h4>
        <input type="date" (change)="obtenerT(box2.value)" #box2 class="fecha" id="calendario1" class="caja" name="trip-start" value="2022-07-11" min={{fechaR}} max="2024-12-31">
    </div>
    <div class="valores">
        <h4>Fecha salida:</h4>
        <input type="date" (change)="obtenerF(box.value)" #box id="calendario2" value="2022-07-11" class="caja" name="trip-start" min={{fechaR}} max="2024-12-31">
    </div>
</div>
<div class="contenedorDe">
    <div class="valores">
        <h4 class="diasReserva">Noches de Reserva: xx</h4>
    </div>
    <div class="valores">
        <h4 class="diasNuevos">Actualización de noches: xx</h4>
    </div>
</div>

<div class="valoresPrecio">

    <h4 class="precioAnterior">Precio anterior: $ xx</h4>
</div>
<div class="valoresPrecio">

    <h4 class="precioNuevo">Nuevo precio: $ xx</h4>
</div>

<div class="valores">

    <h4>Motivo</h4>
</div>
<div class="valores">
    <textarea name="textarea" rows="10" placeholder="Escriba el motivo" cols="50"></textarea>
</div>

<div class="botonEnviar">
    <button class="btn" id="boton" (click)="cambiarFecha()">Cambiar Fecha</button>
</div>
