<div class="ca">
  <div>
    <h2 class="container">Movimientos de {{nombreR}} {{apellidoR}}</h2>
  </div>
  <div class="botonEnviar">
    <button class="btn" routerLink="/admin/checkout" (click)="terminar()" >Proceder al pago</button>
  </div>
</div>

<hr>

<div class="ta">
<table id="reporte" class=" table table-striped table-hover">
  <thead>
      <tr>

          <th>Título</th>
          <th>Fecha</th>
          <th>Valor</th>
          <th>Detalle</th>

      </tr>
  </thead>
  <tbody id="ordenes_tablas">

    <tr *ngFor="let det of detalleT">
      <td>{{det.titulo_detalle}}</td>

      <td>{{det.fecha_detalle}}</td>
      <td>{{det.costo}}</td>
      <td>{{det.detalle}}</td>









    </tr>

  </tbody>
</table>

</div>





