* {
  box-sizing: border-box !important;

}
.valores{
  display: grid;
  grid-template-columns: auto auto;
  align-content: center;
  margin-left: 5%;
  margin-right: 5%;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #666666;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.80857;
  font-weight: normal;
}


h1,
h2 {
  letter-spacing: 0;
  font-weight: normal;
  padding: 0 0 10px 0;
  font-weight: normal;
  line-height: normal;
  color: #111111;
  margin: 0
}

h1 {
  font-size: xx-large;
  color: white;
  font-weight: 900;
}

h2 {
  font-size: 22px
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#tabla{
  padding: 4% 0% 4% 0%;
}

h2 {
  font-size: 30px;
  color: #0d0f38;
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

:focus {
  outline: 0;
}

.container{
  text-align: center;
  padding-top: 4%;


}

.botonEnviar{
  display: grid;
  grid-template-columns: auto;
  padding-top: 3%;
  padding-bottom: 5%;
  align-content: center;
  padding-left: 30%;
  padding-right: 30%;
}

.btn:hover {
  background: #8308eb;
  color: #fff;
}

.btn{
  font-size: 20px;
  background-color: #ffd63f;
  color: #003617;
  padding: 5px 0px;
  width: 100%;
  max-width: 70%;
  display: flex;
  justify-content: center;
  text-align: justify;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border:none;
}


  .btn:hover{
    background: #ff593c;
    color: #fff;
  }

  .ini{
    padding-top: 3%;

    color: #fff;
  }

  .ini2{
    background-color: #003617;
  }

  .ca{
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 6%;
    align-content: center;
  }

