    <main role="main">

      <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="first-slide" src="../../../assets/hotelH2.jpeg">
            <div class="container">
              <div class="carousel-caption text-left">
                <h3>Nosotros Somos Hotel Galápagos</h3>
              </div>
            </div>
          </div>
        </div>

      </div>


      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row hoteles">
          <div class="col-lg-4">
            <img class="rounded-circle" src="../../../assets/montaña.jpg" alt="Generic placeholder image" width="140" height="140">
            <h3>Hotel I</h3>
            <p>Nuestro Hotel I esta ubicado al norte de las islas galápagos, ofrece una mejor vista de la isla</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="../../../assets/galeria/g2.jpg" alt="Generic placeholder image" width="140" height="140">
            <h3>Hotel II</h3>
            <p>Ubicado en la playa rosada, Hotel II es nuestra sucursal que esta ubicada a lado del mar</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="../../../assets/zoologico.jpg" alt="Generic placeholder image" width="140" height="140">
            <h3>Hotel III</h3>
            <p>Ubicada dentro del zoologico principal de la ciudad, ofrece vivir con la naturaleza</p>

          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Personal de Excelencia<span class="text-muted"> Listos para satisfacer al cliente</span></h2>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="../../../assets/trabajadores.jpg" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Uno de los mejores restaurantes<span class="text-muted"> de la región</span></h2>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="../../../assets/comidaH.jpg" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Los mejores paquetes de turismo<span class="text-muted"> para divertirse fuera y dentro del hotel</span></h2>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="../../../assets/galeria/g11.jpg" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->


    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../../../assets/js/vendor/holder.min.js"></script>


