<h2 class="container">Crear Publicidad</h2>
<div class="valores">
  <h3>Servicio</h3>
  <input type="text"  id="01">
  <h3>Detalle</h3>
  <input type="text" id="02">
  <h3>Gasto</h3>
  <input type="text" id="03">

  <h3>Escoja la fecha de inicio</h3>
  <input type="date" id="04" class="caja" name="trip-start" max="2024-12-31">

  <h3>Escoja la fecha de fin</h3>
  <input type="date" id="05" class="caja" name="trip-start" max="2024-12-31">
</div>

<div class="botonEnviar">
  <button class="btn" (click)="crearPublicidad()" >Crear Publicidad</button>
</div>
