<div class="row">
  <div class="col-md-12">
      <div class="titlepageD">
          Detalle de la habitación
      </div>
  </div>
</div>


<div class="card-block px-6">
  <h4 class="card-title">{{nombreHS}} </h4>
  <div class="fila1">
      <div class="sec">
          <img src="../../../assets/personas.png" width="50px" height="50px">
          <p class="card-text te">Huespedes : {{numeroPerS}}</p>
      </div>

      <div class="sec">
          <img src="../../../assets/cama.png" width="50px" height="50px">
          <p class="card-text te">Camas : {{numeroCS}}</p>
      </div>

      <div class="sec">
          <img src="../../../assets/desayuno.png" width="50px" height="50px">
          <p class="card-text te">Desayuno : {{desayunoS}}</p>
      </div>

  </div>


  <div class="fila1">
      <div class="sec">
          <img src="../../../assets/cocina.png" width="50px" height="50px">
          <p class="card-text te">Cocina : {{cocinaS}}</p>
      </div>

      <div class="sec te">
          <img src="../../../assets/wifi.png" width="50px" height="50px">
          <p class="card-text te">Wifi : {{wifiS}}</p>
      </div>

      <div class="sec te">
          <img src="../../../assets/lavanderia.png" width="50px" height="50px">
          <label class="card-text te">Lavandería : {{lavadoraS}}</label>
      </div>

  </div>

  <div id="reser">
      <h4 class="precio">Precio: {{precioS}}</h4>
      <a href="#" class="boton" routerLink="/client/confirmarc">Reservar</a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
      <div class="titlepage">
          Especificaciones
      </div>
  </div>
</div>

<div class="util">
  <div>
      <div class="row u2">
          <img src="https://sadminhoteles.pythonanywhere.com/media/ruedas.png" width="30px" height="30px">
          <h3>Facilidades de acceso</h3>
      </div>

      <ol>
          <li>Barra de apoyo cerca del excusado</li>
          <li>Señalización braille</li>
          <li>Lavabo bajo</li>
          <li>Acceso para silla de ruedas</li>
      </ol>
  </div>

  <div>
      <div class="row u2">
          <img src="https://sadminhoteles.pythonanywhere.com/media/cama2.png" width="30px" height="30px">
          <h3>Habitación</h3>
      </div>

      <ol>
          <li>Ropa de cama</li>
          <li>Cortinas blackout</li>
          <li>Aire acondicionado con control</li>
          <li>Colchón con pillow-top</li>
      </ol>
  </div>

  <div>
      <div class="row u2">
          <img src="https://sadminhoteles.pythonanywhere.com/media/wifi.png" width="30px" height="30px">
          <h3>Entretenimiento</h3>
      </div>

      <ol>
          <li>Televisión de pantalla plana</li>
          <li>Periódico gratuito</li>
          <li>Estación para iPod</li>
          <li>Canales vía satélite</li>
      </ol>
  </div>

  <div>
      <div class="row u2">
          <img src="https://sadminhoteles.pythonanywhere.com/media/cheque.png" width="30px" height="30px">
          <h3>Más</h3>
      </div>

      <ol>
          <li>Servicio de limpieza diario</li>
          <li>Escritorio</li>
          <li>Llamadas locales gratuitas</li>
          <li>Plancha y tabla de planchar</li>
      </ol>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
      <div class="titlepage">
          Galería
      </div>



      <div class="album py-5 bg-light">
          <div class="container">

              <div class="row">
                  <div class="col-md-4">
                      <div class="card mb-4 box-shadow">
                          <img class="card-img-top" src="https://sadminhoteles.pythonanywhere.com/media/g9.jpg" alt="Card image cap">
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="card mb-4 box-shadow">
                          <img class="card-img-top" src="https://sadminhoteles.pythonanywhere.com/media/g2.jpg" alt="Card image cap">
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="card mb-4 box-shadow">
                          <img class="card-img-top" src="https://sadminhoteles.pythonanywhere.com/media/g3.jpg" alt="Card image cap">
                      </div>
                  </div>

                  <div class="col-md-4">
                      <div class="card mb-4 box-shadow">
                          <img class="card-img-top" src="https://sadminhoteles.pythonanywhere.com/media/g4.jpg" alt="Card image cap">
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="card mb-4 box-shadow">
                          <img class="card-img-top" src="https://sadminhoteles.pythonanywhere.com/media/g5.jpg" alt="Card image cap">

                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="card mb-4 box-shadow">
                          <img class="card-img-top" src="https://sadminhoteles.pythonanywhere.com/media/g6.jpg" alt="Card image cap">

                      </div>
                  </div>

                  <div class="col-md-4">
                      <div class="card mb-4 box-shadow">
                          <img class="card-img-top" src="https://sadminhoteles.pythonanywhere.com/media/g7.jpg" alt="Card image cap">

                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="card mb-4 box-shadow">
                          <img class="card-img-top" src="https://sadminhoteles.pythonanywhere.com/media/g8.jpg" alt="Card image cap">

                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="card mb-4 box-shadow">
                          <img class="card-img-top" src="https://sadminhoteles.pythonanywhere.com/media/g9.jpg" alt="Card image cap">
                      </div>
                  </div>
              </div>
          </div>
      </div>









  </div>
</div>

<div class="row">
  <div class="col-md-12">
      <div class="titlepage">
          Ubicación
      </div>
  </div>
</div>

<div class="mapa">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15947.626650471459!2d-79.8915273!3d-2.1890599!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xce25b5c344d98777!2sOro%20Verde%20Guayaquil!5e0!3m2!1ses!2sec!4v1635992435185!5m2!1ses!2sec" width="100%"
      height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
