<!--<app-headerdos></app-headerdos-->
  <body>
    <div id="serviceI" class="Services">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="titlepage">
                  <h2>¡Welcome to the control panel!</h2>
                  <hr>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <a routerLink='/admin/mis-cursos' >
               <div class="Services-box">
                  <i><img src="../../../assets/h3.jpg" alt="#" /></i>
                  <h3>Bookings</h3>
               </div>
              </a>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
              <a routerLink='/admin/estadistica' >
               <div class="Services-box">
                  <i><img src="../../../assets/h1.jpg" alt="#" /></i>
                  <h3>Payments</h3>
               </div>
              </a>
            </div>

         </div>
         <hr>
      </div>
    </div>
    </body>

