<!--<app-headerdos></app-headerdos-->
  <body>
    <div id="serviceI" class="Services">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="titlepage">
                  <h2>¡Bienvenido al panel de control {{usuario}}!</h2>
                  <hr>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <a routerLink='/admin/reservaciones' >
               <div class="Services-box">
                  <i><img src="../../../assets/h3.jpg" alt="#" /></i>
                  <h3>Reservaciones</h3>
               </div>
              </a>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
              <a routerLink='/admin/habitaciones' >
               <div class="Services-box">
                  <i><img src="../../../assets/h1.jpg" alt="#" /></i>
                  <h3>Habitaciones</h3>
               </div>
              </a>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
              <a routerLink='/admin/reportes' >
               <div class="Services-box">
                  <i><img src="../../../assets/h1.jpg" alt="#" /></i>
                  <h3>Reportes</h3>
               </div>
              </a>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
              <a routerLink='/admin/publicidad' >
               <div class="Services-box">
                  <i><img src="../../../assets/h1.jpg" alt="#" /></i>
                  <h3>Publicidad</h3>
               </div>
              </a>
            </div>

         </div>
         <hr>
      </div>
    </div>
    </body>

