<!--<app-header></app-header>-->
<div class="login-wrap">
    <div class="login-html">
        <input id="tab-2" type="radio" name="tab" class="sign-up" checked><label for="tab-2" class="tab">Confirmación de la reservación</label>
        <div class="login-form">

            <div class="sign-up-htm">
                <form [formGroup]="miFormulario3" (ngSubmit)="Reservar()" novalidate="">
                    <div class="group">
                        <label for="name" class="label">Nombres</label>
                        <input id="name" type="text" class="input" name="name" formControlName="name">
                    </div>
                    <div class="group">
                        <label for="apellido" class="label">Apellidos</label>
                        <input id="apellido" type="text" class="input" name="apellido" formControlName="apellido">
                    </div>
                    <div class="group">
                        <label for="telefono" class="label">Telefono</label>
                        <input id="telefono" type="text" class="input" name="telefono" formControlName="telefono">
                    </div>
                    <div class="group">
                        <label for="email" class="label">Email</label>
                        <input id="email" type="text" class="input" name="correo" formControlName="correo">
                    </div>
                    <div class="group">
                        <input type="submit" class="button" value="Reservar">
                    </div>

                </form>

            </div>




        </div>
    </div>
</div>