<h2 class="container">Agregar Cargos a la Reserva #{{idReserva}} a nombre de </h2>
<div class="valores">
  <h3>Titulo del cargo</h3>
  <input type="text" id="nombre"/>
</div>

<div class="valores">
  <h3>Valor a agregar</h3>
  <input type="number" placeholder="5" min="0" max="5" id="02" value=5>
</div>

<div class="valores">
  <h3>Detalles del cargo</h3>
  <textarea id="comentario"></textarea>
</div>

<div class="botonEnviar">
  <button class="btn" (click)="agregarCargos()" >Agregar Cargos</button>
</div>

