<h2 class="container">Agregar Cargos a {{nombreR}} {{apellidoR}} </h2>
<div class="valores">
  <h3>Titulo del cargo</h3>
  <input type="text" id="nombre"/>
</div>

<div class="valores">
  <h3>Valor a agregar</h3>
  <input type="number" placeholder="$" min="0" id="02" >
</div>

<div class="valores">
  <h3>Detalles del cargo</h3>
  <textarea id="comentario" rows="10" cols="28"></textarea>
</div>

<div class="botonEnviar">
  <button class="btn" (click)="agregarCargos()" >Agregar Cargos</button>
</div>

