<div class="ini2">
  <div class="container ini">
    <h1 class="display-3">¡Estas son tus reservaciones Activas {{usuarioC}}!</h1>
    <hr>
  </div>
</div>

<div class="container">
  <main class="col-12 ms-sm-auto px-md-4">
      <div class="table-responsive">
          <div class="table-wrapper">
              <table id="reporte" class="table table-striped table-hover">
                  <thead>
                      <tr>
                          <th>#</th>
                          <th>Fecha de Reservación</th>
                          <th>habitación</th>
                          <th>Costo</th>
                          <th></th>
                          <th></th>
                      </tr>
                  </thead>
                  <tbody id="ordenes_tablas">

                  </tbody>
              </table>

          </div>
      </div>
  </main>
</div>

<div class="ini2">
  <div class="container ini">
    <h1 class="display-3">¡Estas son tus reservaciones Pasadas {{usuarioC}}!</h1>
    <hr>
  </div>
</div>

<div class="container">
  <main class="col-12 ms-sm-auto px-md-4">

      <div class="table-responsive">
          <div class="table-wrapper">
              <table id="reporte" class="table table-striped table-hover">
                  <thead>
                      <tr>
                          <th>#</th>
                          <th>Fecha de Reservación</th>
                          <th>Fecha de Finalización</th>
                          <th>Habitacion</th>
                          <th>Costo</th>
                          <th>Estado</th>


                      </tr>
                  </thead>
                  <tbody id="ordenes_tablas2">

                  </tbody>
              </table>

          </div>
      </div>
  </main>
</div>

