<div id="todo">
  <div id="info">
    <div id="reser">
      <h2 class="textoP">Precio: $100</h2>
      <a href="#" class="boton" routerLink="../confirmar">Reservar ahora</a>
    </div>
    <div class="card">
      <h2>
        HABITACION DE LUJO
      </h2>
      <div class="fila1">
        <div class="sec">
          <img src="../../../assets/equipo.png" width="50px" height="50px">
          <p class="card-text te">Personas: 4</p>
        </div>

        <div class="sec">
          <img src="../../../assets/cama.png" width="50px" height="50px">
          <p class="card-text te">Camas: 2 </p>
        </div>

        <div class="sec">
          <img src="../../../assets/taza-de-cafe.png" width="50px" height="50px">
          <p class="card-text te">Desayuno: Sí</p>
        </div>

      </div>

      <div class="fila1">
        <div class="sec">
          <img src="../../../assets/cocina.png" width="50px" height="50px">
          <p class="card-text te">Cocina: Sí</p>
        </div>

        <div class="sec te">
          <img src="../../../assets/wifi.png" width="50px" height="50px">
          <p class="card-text te">Wifi: Sí</p>
        </div>

        <div class="sec te">
          <img src="../../../assets/lavanderia.png" width="50px" height="50px">
          <label class="card-text te">Lavanderia: Sí</label>
        </div>

      </div>

    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15947.626650471459!2d-79.8915273!3d-2.1890599!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xce25b5c344d98777!2sOro%20Verde%20Guayaquil!5e0!3m2!1ses!2sec!4v1635992435185!5m2!1ses!2sec" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

  </div>
  <img class="d-block" src="../../../assets/h2.jpg" width="500px" height="400px" alt="">
</div>
