

<h2 class="container" >Ver Habitaciones</h2>
<div >
    <main class="col-12 ms-sm-auto px-md-4">
        <div class="table-responsive">
            <div class="table-wrapper">
                <table id="reporte" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Tipo</th>
                            <th>Huespedes</th>
                            <th>Desayuno</th>
                            <th>Wifi</th>
                            <th>lavadora</th>
                            <th>Cocina</th>
                            <th>Costo</th>
                        </tr>
                    </thead>
                    <tbody id="ordenes_tablas">

                    </tbody>
                </table>

            </div>
        </div>
    </main>
</div>
