<div class="container py-3">

    <div>
        <div class="container">
            <div>
                <div>
                    <div id="check">
                        <form action="#">
                            <div id="availability">
                                <div class="a-col alternate">
                                    <div class="input-field" id="fechas">
                                        <label for="date-start" id="subtitulos">Precio</label>
                                        <div class="caja">
                                            <select class="cs-select cs-skin-border" id="seleccion">
                                                <option value="email" disabled selected>Desde lo más barato</option>
                                                <option value="twitter">Desde lo más caro</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="a-col alternate">
                                    <div class="input-field" id="fechas">
                                        <label for="date-start" id="subtitulos">Camas</label>
                                        <div class="caja">
                                            <select class="cs-select cs-skin-border" id="seleccion">
                                                <option value="email" disabled selected>1</option>
                                                <option value="twitter">2</option>
                                                <option value="twitter">3</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="a-col alternate">
                                    <div class="input-field" id="fechas">
                                        <label for="date-start" id="subtitulos">Wifi</label>
                                        <div class="caja">
                                            <select class="cs-select cs-skin-border" id="seleccion">
                                                <option value="email" disabled selected>Si</option>
                                                <option value="twitter">No</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="a-col alternate">
                                    <div class="input-field" id="fechas">
                                        <label for="date-start" id="subtitulos">Cocina</label>
                                        <div class="caja">
                                            <select class="cs-select cs-skin-border" id="seleccion">
                                                <option value="email" disabled selected>Si</option>
                                                <option value="twitter">No</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="a-col alternate">
                                    <div class="input-field" id="fechas">
                                        <label for="date-start" id="subtitulos">Desayuno Incluido</label>
                                        <div class="caja">
                                            <select class="cs-select cs-skin-border" id="seleccion">
                                                <option value="email" disabled selected>Si</option>
                                                <option value="twitter">No</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="a-col alternate">
                                    <div class="input-field" id="fechas">
                                        <label for="date-start" id="subtitulos">Lavandería</label>
                                        <div class="caja">
                                            <select class="cs-select cs-skin-border" id="seleccion">
                                                <option value="email" disabled selected>Si</option>
                                                <option value="twitter">No</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>



                                <div class="a-col alternate">
                                    <div class="input-field" id="fechas">
                                        <label for="date-start" id="subtitulos">Huespedes</label>
                                        <div class="caja">
                                            <select class="cs-select cs-skin-border" id="seleccion">
                                                <option value="email" disabled selected>1</option>
                                                <option value="twitter">2</option>
                                                <option value="linkedin">3</option>
                                                <option value="linkedin">4</option>
                                                <option value="linkedin">+5</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="a-col alternate">
                                    <div class="input-field" id="fechas">
                                        <label for="date-start" id="subtitulos">Tipo habitación</label>
                                        <div class="caja">
                                            <select class="cs-select cs-skin-border" id="seleccion">
                                                <option value="individual" disabled selected>individual</option>
                                                <option value="familiar">pareja</option>
                                                <option value="pareja">pareja</option>
                                                <option value="lujo">lujo</option>
                                                <option value="presidencial">presidencial</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="a-col action">
                                <a href="#" class="boton" type="submit" (ngSubmit)="reservation()" routerLink="../consultar"> Filtrar </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- Card Start -->
    <div class="card">
        <div class="row ">

            <div class="col-md-7 px-3" id="carta">
                <div class="card-block px-6">
                    <h4 class="card-title">Habitación </h4>
                    <p class="card-text">
                        Habitación de lujo. Incluye todas las comodidades
                    </p>
                    <div class="fila1">
                        <div class="sec">
                            <img src="../../../assets/equipo.png" width="50px" height="50px">
                            <p class="card-text te"></p>
                        </div>

                        <div class="sec">
                            <img src="../../../assets/cama.png" width="50px" height="50px">
                            <p class="card-text te"></p>
                        </div>

                        <div class="sec">
                            <img src="../../../assets/taza-de-cafe.png" width="50px" height="50px">
                            <p class="card-text te">Desayuno: Sí</p>
                        </div>

                    </div>


                    <div class="fila1">
                        <div class="sec">
                            <img src="../../../assets/cocina.png" width="50px" height="50px">
                            <p class="card-text te"></p>
                        </div>

                        <div class="sec te">
                            <img src="../../../assets/wifi.png" width="50px" height="50px">
                            <p class="card-text te"></p>
                        </div>

                        <div class="sec te">
                            <img src="../../../assets/lavanderia.png" width="50px" height="50px">
                            <label class="card-text te"></label>
                        </div>

                    </div>

                    <div id="reser">
                        <label class="textoP">Precio: $100</label>
                        <a href="#" class="boton" routerLink="../reservar">Reservar</a>
                    </div>






                </div>
            </div>
            <div class="carousel-item active">
                <img class="d-block" src="../../../assets/h2.jpg" width="500px" height="400px" alt="">
            </div>

            <!-- End of carousel -->
        </div>
    </div>
    <!-- End of card -->

</div>