<div class="container py-3">

    <!-- Card Start -->
    <div class="card">
        <div class="row ">

            <div class="col-md-7 px-3" id="carta">
                <div class="card-block px-6">
                    <h4 class="card-title">Habitación </h4>
                    <p class="card-text">
                        Habitación de lujo. Incluye todas las comodidades
                    </p>
                    <div class="fila1">
                        <div class="sec">
                            <img src="../../../assets/equipo.png" width="50px" height="50px">
                            <p class="card-text te"></p>
                        </div>

                        <div class="sec">
                            <img src="../../../assets/cama.png" width="50px" height="50px">
                            <p class="card-text te"></p>
                        </div>

                        <div class="sec">
                            <img src="../../../assets/taza-de-cafe.png" width="50px" height="50px">
                            <p class="card-text te">Desayuno: Sí</p>
                        </div>

                    </div>


                    <div class="fila1">
                        <div class="sec">
                            <img src="../../../assets/cocina.png" width="50px" height="50px">
                            <p class="card-text te"></p>
                        </div>

                        <div class="sec te">
                            <img src="../../../assets/wifi.png" width="50px" height="50px">
                            <p class="card-text te"></p>
                        </div>

                        <div class="sec te">
                            <img src="../../../assets/lavanderia.png" width="50px" height="50px">
                            <label class="card-text te"></label>
                        </div>

                    </div>

                    <div id="reser">
                        <label class="textoP">Precio: $100</label>
                        <a href="#" class="boton" routerLink="../reservar">Reservar</a>
                    </div>






                </div>
            </div>
            <div class="carousel-item active">
                <img class="d-block" src="../../../assets/h2.jpg" width="500px" height="400px" alt="">
            </div>

            <!-- End of carousel -->
        </div>
    </div>
    <!-- End of card -->

</div>