<body>

    <div>
        <div id="fondoG"></div>


        <div class="titlepage2">
            ¡Bienvenido {{usuario}}!
        </div>


        <div class="container">
            <div>
                <div>
                    <div id="check">
                        <form action="#">
                            <div id="availability">


                                <div class="a-col alternate">
                                    <div class="input-field" id="fechas">
                                        <label for="date-start" id="subtitulos">Fecha de entrada</label>
                                        <input type="date" class="caja" id="calendario" name="trip-start" value="2018-07-22" min="2018-01-01" max="2018-12-31">
                                    </div>
                                </div>
                                <div class="a-col alternate">
                                    <div class="input-field" id="fechas">
                                        <label for="date-end" id="subtitulos">Fecha de salida</label>
                                        <input type="date" id="calendario1" class="caja" name="trip-start" value="2018-07-22" min="2018-01-01" max="2018-12-31">

                                    </div>
                                </div>

                                <div class="a-col alternate">
                                    <div class="input-field" id="fechas">
                                        <label for="date-start" id="subtitulos">Huespedes</label>
                                        <div class="caja">
                                            <select class="cs-select cs-skin-border" id="seleccion">
                      <option value="email" disabled selected>1</option>
                      <option value="twitter">2</option>
                      <option value="linkedin">3</option>
                      <option value="linkedin">4</option>
                      <option value="linkedin">+5</option>
                    </select>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="a-col action">
                                <a href="#" class="boton" routerLink="../consultarc"> Consultar </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <hr>
    </div>

    <!-- Services  -->
    <div id="serviceI" class="Services">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Mejores Servicios</h2>
                        <p>Te ofrecemos una cantidad amplia de servicios<br> Escríbenos para más información
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <div class="Services-box">
                        <img src="../../../assets/galeria/g10.jpg" alt="#" width="250" height="200" />
                        <h3>Habitaciones de Lujo</h3>
                        <p>Disfruta de habitaciones con vista al mar</p>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <div class="Services-box">
                        <img src="../../../assets/galeria/g3.jpg" alt="#" width="250" height="200" />
                        <h3>Variedad de instalaciones</h3>
                        <p>Disfruta de instalaciones como Gimnasios, Piscinas, Bar ,etc</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <div class="Services-box">
                        <img src="../../../assets/galeria/g11.jpg" alt="#" width="250" height="200" />
                        <h3>Paquetes turisticos</h3>
                        <p>Obten descuentos en paquetes turisticos</p>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Galería</h2>
                        <p>Observa todo lo que te espera
                        </p>
                    </div>



                    <div class="album py-5 bg-light">
                        <div class="container">

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card mb-4 box-shadow">
                                        <img class="card-img-top" src="../../../assets/galeria/g9.jpg" alt="Card image cap">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card mb-4 box-shadow">
                                        <img class="card-img-top" src="../../../assets/galeria/g2.jpg" alt="Card image cap">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card mb-4 box-shadow">
                                        <img class="card-img-top" src="../../../assets/galeria/g3.jpg" alt="Card image cap">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="card mb-4 box-shadow">
                                        <img class="card-img-top" src="../../../assets/galeria/g4.jpg" alt="Card image cap">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card mb-4 box-shadow">
                                        <img class="card-img-top" src="../../../assets/galeria/g5.jpg" alt="Card image cap">

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card mb-4 box-shadow">
                                        <img class="card-img-top" src="../../../assets/galeria/g6.jpg" alt="Card image cap">

                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="card mb-4 box-shadow">
                                        <img class="card-img-top" src="../../../assets/galeria/g7.jpg" alt="Card image cap">

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card mb-4 box-shadow">
                                        <img class="card-img-top" src="../../../assets/galeria/g8.jpg" alt="Card image cap">

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card mb-4 box-shadow">
                                        <img class="card-img-top" src="../../../assets/galeria/g9.jpg" alt="Card image cap">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>









                </div>
            </div>
        </div>
    </div>










</body>