<h2 class="container">Reservaciones realizadas en el hotel</h2>
<div >
    <main class="col-12 ms-sm-auto px-md-4">
        <div class="table-responsive">
            <div class="table-wrapper">
                <table id="reporte" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Reserva</th>
                            <th>Finaliza</th>
                            <th>Room</th>
                            <th>Estado</th>
                            <th>Cedula</th>
                            <th>Costo</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody id="ordenes_tablas">

                      <tr *ngFor="let reserva of reservacionesT">

                          <td>{{reserva.id_booking}}</td>
                          <td>{{reserva.begin_at}}</td>
                          <td>{{reserva.ends_at}}</td>
                          <td>{{reserva.room}}</td>
                          <td>{{reserva.status}}</td>
                          <td>{{reserva.cedula}}</td>
                          <td>{{reserva.price_room}}</td>
                          <td>


                            <button class="boton" type="submit" (click)="extender(reserva.id_booking,reserva.begin_at)" routerLink="/admin/extender">Extender</button>
                            <button class="boton" type="submit" (click)="agregar(reserva.id_booking,reserva.begin_at)" routerLink="/admin/agregar">Agregar Cargo</button>
                            <button class="boton" type="submit" (click)="detalles(reserva.id_booking,reserva.begin_at,reserva.price_room,reserva.room)" routerLink="/admin/movimientos">Terminar reserva</button>
                            <button class="boton" type="submit" (click)="cancelar(reserva.id_booking,reserva.begin_at)" routerLink="/admin/cancelar">Cancelar Reserva</button>

                          </td>






                      </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </main>
</div>

