<h2 class="container">Reservaciones realizadas en el hotel</h2>
<div >
    <main class="col-12 ms-sm-auto px-md-4">
        <div class="table-responsive">
            <div class="table-wrapper">
                <table id="reporte" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Fecha de reserva</th>
                            <th>Habitación</th>
                            <th>Estado</th>
                            <th>Cedula</th>
                            <th>Costo</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="ordenes_tablas">

                    </tbody>
                </table>

            </div>
        </div>
    </main>
</div>

