.container{
  display: grid;
  align-content: center;
  padding-top: 10%;
}
.todo{
  padding-bottom: 40%;

}

.formT{
  display: grid;
  grid-template-rows: auto auto auto auto auto;
}
.inf{
  display: grid;
  grid-template-columns: auto auto;

}
.fil{
  display: grid;
  grid-template-columns: auto auto;
  text-align: justify;
  padding-top: 2%;

  font-family: sans-serif;
  font-size: 16px;
}

.prin{
  text-align: center;
  align-items: center;
  align-content: center;
}

.btn{
  font-size: 20px;
  background-color: #ffd63f;
  color: #003617;
  padding: 5px 0px;
  width: 100%;
  max-width: 70%;
  display: flex;
  justify-content: center;
  text-align: justify;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border:none;


}


.btn:hover {
  background: #ff593c;
  color: #fff;
}
