



<div class="container">
  <main class="todo">
    <div class="prin">
      <h1>Perfil</h1>
      <h2 class="lead">¡Esta es la información de tu perfil darinka2000!</h2>
    </div>




      <div>

        <form>
          <div class="formT">


            <div class="fil">
              <label for="username" class="form-label">Usuario</label>
              <input type="text" class="form-control" id="username" placeholder="{{usuarioC}}" disabled>


            </div>

            <div class="fil">
              <label for="email" class="form-label">Correo  </label>
              <input type="email" class="form-control" placeholder="" id="email" disabled>

            </div>

            <div class="fil">
              <label for="email" class="form-label">Contraseña</label>
              <input type="email" class="form-control" placeholder="*********" id="email" disabled>

            </div>

          </div>
          <hr class="my-4">
        </form>



      </div>


    <button type="button" class="btn  btn-outline-secondary" routerLink='/client/inscri-form'>Cambiar contraseña</button>
  </main>


</div>





