carousel .carousel-cells .carousel-cell{
  object-fit: cover;
}

#availability{
 display: grid;
 grid-template-columns: auto auto auto;
 padding-bottom: 1px;
}

#boton_check{
  display: grid;
  grid-template-columns: auto;
  align-content: center;

}

.caja::after{
	content:"\025be";
	display:table-cell;
	padding-top:7px;
	text-align:center;
	width:30px;
	height:30px;
	background-color:#d9d9d9;
	position:absolute;
	top:0;
	right:0px;
	pointer-events: none;
}

#calendario{
  padding-left: 4%;
  padding-right:4%;
  text-align: center;
}

.caja {
  margin:0px auto 0px auto;
  border:1px solid #d9d9d9;
  height:30px;
  overflow: hidden;
  width: 100%;

}

#subtitulos{
  color:  white;
  font-size: 20px;
  font-weight: bold;
  padding-right: 5%;

}

#fechas{
  display: grid;
  align-content: center;
  text-align: center;
}
.alternate{
  padding-right: 2%;
  padding-left: 2%;
}
select:focus{ outline: none;}
#seleccion{
  display: grid;
  align-content: center;
  text-align: center;
  border: none;
  font-size: 14px;
  height: 30px;
  padding: 5px;
  width: 100%;
}

#fondoG {
  height: 300px;
  width: 100%;
  background-image: url("../../../assets/h2.jpg");
  background-repeat:no-repeat;
  background-position-x:center;
  background-position-y:center;
  background-size: 100%;
}

.cabecera{
  color: #fff;
  height: 200px;
  line-height: 200px;
  text-align: center;
  vertical-align: middle;
  text-shadow: #111 0px 0px 10px;
}

#check{
  background-color:#104c97;
  margin-top: 3%;
  padding: 1% 1% 1% 1%;
}
.boton {
  font-size: 16px;
  background-color: #262728;
  color: #fff;
  padding: 5px 0px;
  width: 100%;
  max-width: 190px;
  display: flex;
  justify-content: center;
  text-align: justify;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;

  }

  .boton:hover{
    background: #019cdd;
    color: #fff;
  }
