<!-- Card Start -->
<div class="card info">
  <div class="tarjeta">
      <div class="col-md-7 px-3" id="carta">
          <div class="card-block px-6">
              <h2 class="card-title">Paquete Pareja </h2>
              <p class="card-text">
                  4 actividades por 4 días
              </p>
          </div>
          <div>
            <ol class="lista">
              <li>Dia 1: Playa Rosada</li>
              <li>Dia 2: Buceo con tiburones</li>
              <li>Dia 3: Nadar con tortugas</li>
              <li>Dia 4: Sky acuático</li>
            </ol>
          </div>
      </div>
      <div>
          <img class="d-block" src="../../../assets/turismo/t5.jpg" width="500px" height="300px" alt="">
      </div>

      <h4>Costo : $300</h4>


  </div>
</div>

<div>
  <button class="boton2" (click)="paqueteTurismo()" routerLink="/pagart">
    Contratar
  </button>
</div>


<div class="row">
  <div class="col-md-12">
     <div class="titlepage">
        <h2 class="oscuro">Galería</h2>
        <p class="oscuro2">Observa todo lo que te espera
        </p>
     </div>



    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="../../../assets/galeria/g9.jpg" alt="Card image cap">
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="../../../assets/galeria/g2.jpg" alt="Card image cap">
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="../../../assets/galeria/g3.jpg" alt="Card image cap">
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="../../../assets/galeria/g4.jpg" alt="Card image cap">
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="../../../assets/galeria/g5.jpg" alt="Card image cap">

            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="../../../assets/galeria/g6.jpg" alt="Card image cap">

            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="../../../assets/galeria/g7.jpg" alt="Card image cap">

            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="../../../assets/galeria/g8.jpg" alt="Card image cap">

            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="../../../assets/galeria/g9.jpg" alt="Card image cap">

            </div>
          </div>
        </div>
      </div>
    </div>


